.error {
  color: red;
}

.rounded {
  border-radius: 0.25rem;
}

.ng-invalid.ng-touched {
  border-color: red;
}

:host ::ng-deep {
  .ng-touched.ng-invalid {
    .p-inputmask.p-inputtext.p-component {
      border-color: red;
    }

    .p-inputmask.p-inputtext.p-component.p-filled {
      border-color: #ced4da;
    }
  }

  .ng-untouched.ng-invalid {
    .p-inputmask.p-inputtext.p-component {
      border-color: #ced4da !important;
    }
  }

  .ng-valid {
    border-color: #ced4da;
  }
}

.border-error {
  border-color: red;
}

body .ui-inputgroup p-inputMask {
  display: flex;
  padding: 0;
}

:host ::ng-deep {
  .p-inputmask {
    width: 100% !important;
  }
}
