<div class="p-shadow-9 p-p-5 rounded">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="name">Nome</label>
        <input id="name" type="text" formControlName="name" pInputText />
        <div *ngIf="isInvalidControl('name')">
          <span
            class="error"
            *ngIf="this.registerForm.controls['name'].errors!['maxlength']"
            >Tamaho máximo de 50 caracteres.</span
          >
          <span
            class="error"
            *ngIf="registerForm.controls['name'].errors!['required']"
            >Campo obrigatório.</span
          >
        </div>
      </div>
      <div class="p-field">
        <label for="measurementUnit">Unidade</label>
        <p-dropdown
          id="measurementUnit"
          [options]="measurementUnits"
          optionLabel="name"
          formControlName="measurementUnit"
        ></p-dropdown>
      </div>
      <div class="p-field">
        <label for="quantity">Quantidade</label>
        <div class="p-inputgroup">
          <input
            id="quantity"
            type="text"
            pInputText
            formControlName="quantity"
          />
          <span class="p-inputgroup-addon">{{ quantityAbreviation }}</span>
        </div>
      </div>
      <div class="p-field">
        <label for="price">Preço</label>
        <input id="price" formControlName="price" pInputText />
        <div *ngIf="isInvalidControl('price')">
          <span
            class="error"
            *ngIf="registerForm.controls['price'].errors!['required']"
            >Campo obrigatório.</span
          >
        </div>
      </div>
      <div class="p-field p-d-flex p-flex-row p-ai-center">
        <label class="p-mt-2 p-mr-2">Produto Perecível</label>
        <p-checkbox formControlName="perishable" [binary]="true"></p-checkbox>
        <div *ngIf="isInvalidControl('perishable')">
          <span
            class="error"
            *ngIf="registerForm.controls['perishable'].errors!['required']"
            >Campo obrigatório.</span
          >
        </div>
      </div>
      <div class="p-field">
        <label for="expirationDate">Data de validade</label>
        <p-inputMask
          id="expirationDate"
          formControlName="expirationDate"
          mask="99/99/9999"
          slotChar=""
          [autoClear]="false"
        ></p-inputMask>
        <div *ngIf="isInvalidControl('expirationDate')">
          <span
            class="error"
            *ngIf="
              this.registerForm.controls['expirationDate'].errors![
                'expiredItem'
              ]
            "
            >Produto com data de validade vencida.</span
          >
          <span
            class="error"
            *ngIf="registerForm.controls['expirationDate'].errors!['required']"
            >Campo obrigatório.</span
          >
        </div>
      </div>
      <div class="p-field">
        <label for="manufacturingDate">Data de fabricação</label>
        <p-inputMask
          id="manufacturingDate"
          formControlName="manufacturingDate"
          mask="99/99/9999"
          slotChar=""
          [autoClear]="false"
        ></p-inputMask>
        <div *ngIf="isInvalidControl('manufacturingDate')">
          <span
            class="error"
            *ngIf="
              this.registerForm.controls['manufacturingDate'].errors![
                'invalidManufacturingDate'
              ]
            "
            >Data de fabricação inválida.</span
          >
          <span
            class="error"
            *ngIf="
              registerForm.controls['manufacturingDate'].errors!['required']
            "
            >Campo obrigatório.</span
          >
        </div>
      </div>
    </div>
    <div class="p-d-flex p-jc-center">
      <button pButton type="submit" class="p-mr-6" label="Salvar"></button>
      <button
        pButton
        type="button"
        class="p-button-text p-button-raised p-button-danger"
        label="Cancelar"
        (click)="cancelForm()"
      ></button>
    </div>
  </form>
</div>
