<div class="p-d-flex p-flex-nowrap p-jc-between">
  <div class="p-p-2">
    <p-sidebar [(visible)]="sidebarShowing">
      <p-menu
        [model]="menuItems"
        [popup]="false"
        (click)="hideSideBar()"
      ></p-menu>
    </p-sidebar>
    <p-button type="text" (click)="showSideBar()" icon="pi pi-bars"></p-button>
  </div>
  <div class="p-p-2">
    <p-breadcrumb
      [model]="breadcrumbItems"
      [home]="home"
      (onItemClick)="itemClicked($event)"
      class="breadcrumb"
    ></p-breadcrumb>
  </div>
</div>
<main><router-outlet></router-outlet></main>
